<% layout('_inc/layout') -%>

<header class="masthead">
    <a href="javascript:void(0);" class="btn js-editor-run">Run</a>
</header>

<section class="pane pane--left">
	<div class="js-editor"></div>
</section>
<section class="pane pane--right">
	<ul class="logger js-logger">
		<li>This is the console. It'll help you debug and tell you if something is up.</li>
	</ul>
	<section class="playground js-playground"></section>
</section>