<% layout('_inc/layout') -%>

<header class="masthead">
    <a href="javascript:void(0);" class="btn js-editor-run">Run</a>
    <small><a href="javascript:void(0);" class="js-editor-expand">Expand Editor</a></small>
</header>

<section class="pane pane--left">
	<ul class="snippets-list list--inline js-snippets-list">
    	<li><a>Add Snippet</a></li>
    </ul>
	<div class="editor js-editor"></div>
</section>
<section class="pane pane--right">
	<ul class="logger js-logger">
		<li>This is the console. It'll help you debug and tell you if something is up.</li>
	</ul>
	<section class="playground js-playground"></section>
</section>