<%
    var siteUrl = 'http://coderungame.com',
        appName = 'Coderun',
        appDesc = 'Learn how to code in a fun and creative way';
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= appName %> - <%= appDesc %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="<%= appDesc %>">

    <meta name="author" content="Koen Vendrik">
    <meta name="follow" content="index, follow">

    <link rel="stylesheet" type="text/css" href="www/css/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/theme/monokai.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <%- body %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/javascript/javascript.js"></script>
    <script src="www/js/phaser.min.js"></script>
    <script src="www/js/app.js"></script>

  </body>
</html>