* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html,body {
  	width: 100%;
  	height: 100%;
}

body {
  	font: $main-weight $size-m $main-family;
  	color: $white;
  	background-color: $darker;
  	line-height: $line-height;
}

a {
	color: $white;
	text-decoration: underline;
}

.btn {
	color: $white;
	text-decoration: none;
	background-color: $blue;
	padding: $margin-m;
	display: inline-block;
}

.list--inline {
	li {
		display: inline-block;
		margin-right: $margin-m;

		&:last-child {
			margin-right: 0;
		}
	}
}

.pane {
	height: 100%;
	float: left;
	overflow: hidden;

	&.pane--left {
		width: 40%;
	}

	&.pane--right {
		width: 60%;
	}

	&.pane--expanded {
		width: 100%;
	}
}

.logger {
	height: 200px;
	font-size: $size-s;
	overflow-y: auto;

	li {
		font-family: $code-family;
		padding: $margin-m;
		background-color: rgba($blue, .2);
		margin-bottom: 1px;

		&.logger__li--err {
			background-color: rgba($red, .2);
		}
	}
}

.editor, .snippets-list {
	.game-running & {
		opacity: .5;
	}
}

.snippets-list {
	width: 100%;
	font-size: $size-s;

	padding-top: $margin-s;
	padding-left: $margin-m;

	background-color: $darkest;

	li {
		padding: $margin-s $margin-m;

		background-color: transparent;
		cursor: pointer;

		&.snippets-list__item--active {
			background-color: $dark;
		}

		span {
			font-size: $size-s;
			display: inline-block;

			padding-left: $margin-s;
			opacity: .5;

			position: relative;
			top: -1px;

			@include transition(opacity);

			&:hover {
				opacity: .7;
			}
		}
	}
}

.playground {
	overflow: hidden;
}

.masthead {
	.btn {
		margin-right: $margin-m;
	}
}