* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html,body {
  	width: 100%;
  	height: 100%;
}

body {
  	font: $main-weight $size-m $main-family;
  	color: $white;
  	background-color: $base-color;
  	line-height: $line-height;
}

.btn {
	color: $white;
	text-decoration: none;
	background-color: $blue;
	padding: $margin-m;
	display: inline-block;
}

.pane {
	height: 100%;
	float: left;
	overflow: hidden;

	&.pane--left {
		width: 40%;
	}

	&.pane--right {
		width: 60%;
	}
}

.logger {
	height: 200px;
	font-size: $size-s;
	overflow-y: auto;

	li {
		font-family: $code-family;
		padding: $margin-m;
		background-color: rgba($blue, .2);
		margin-bottom: 1px;

		&.logger__li--err {
			background-color: rgba($red, .2);
		}
	}
}

.playground {
	overflow: hidden;
}