$base-color: #222;
$white: #fff;

$blue: #2FB0FA;
$red: #F23C3C;

$line-height: 1.5em;

$size-m: 14px;
$size-s: .9em;

$main-weight: 400;
$main-family: 'Open Sans';
$code-family: 'Monaco';

$border-style: solid;
$border-width: 1px;

$margin-s: .5em;
$margin-m: 1em;

$transition-duration: .3s;
$transition-timing: ease;