$base-color: #222;
$white: #fff;

$line-height: 1.5em;

$size-m: 16px;

$main-weight: 300;
$main-family: 'Open Sans';

$border-style: solid;
$border-width: 1px;

$transition-duration: .3s;
$transition-timing: ease;